* {
  font-family: 'Press Start 2P', cursive;
}

body {
  display: block;
  margin: 0px;
}

.login-username,
.login-password {
  border-radius: 25px;
}

label {
  font-size: x-large;
}

input {
  padding: 8px;
  border-radius: 25px;
}

button {
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hostButton {
  position: relative;
  border: transparent;
  margin-bottom: 8%;
  width: var(--button-width);
  height: var(--button-height);
  top: 50%;
  left: 50%;
  transform: translate(-40%, -575%);
}

.joinButton {
  position: relative;
  border: transparent;
  width: 100%;
  height: var(--button-height);
  margin-bottom: 8%;
  top: 65%;
  left: 50%;
  transform: translate(-41%, -610%)
}

.practiceButton {
  position: relative;
  border: transparent;
  background-color: transparent;
  width: var(--button-width);
  height: var(--button-height);
  top: 80%;
  left: 50%;
  transform: translate(-40%, -530%);
}

.signinButton {
  position: relative;
  border: transparent;
  width: var(--button-width);
  height: var(--button-height);
  top: 40%;
  left: -50%;
  transform: translate(-10%, 110%);
  margin-bottom: 10%;

}
.signupButton {
  position: relative;
  border: transparent;
  width: var(--button-width);
  height: var(--button-height);
  transform: translate(-60%, 120%);
  
}
.row {
  display: flex;
  justify-content: center;
}
.letter-button { 
  border: transparent;
  background-color: transparent;
  
  
}

/* .hangman-container {


.hangman-container {
  position: relative;
  top: 49%;
  left: var(--hangman-left);
  transform: translate(-250%, -49.5%) translate(300px, 100px);
  width: 16%;
  height: 74%;

} */
.HangMan {
  position: relative;
  height: 80%;
  transform: translate(-50%, 12%);
}


@media (max-width: 600px) {

  .hostButton {
      top: 40%;
      transform: translate(-27%, -600%);
      width: 60%;
      height: 10%;
  }

  .joinButton {
      top: 55%;
      transform: translate(-33%, -610%);
      width: 80%;
      height: 10%;
  }

  .practiceButton {
      top: 70%;
      transform: translate(-30%, -800%);
      width: 70%;
      height: 10%;
  }
  .hangman {
      top: 40%;
      transform: translate(-65%, -23.5%);
      width: 35%;
      height: 70%;
  }
  .hangmananyone{
      top: 40%;
      transform: translate(10%, -555%);
      width: 70%;
      height: 15%;
  }
}

@media (min-width: 601px) and (max-width: 1280px) {
  .hostButton {
      top: 45%;
  }

  .joinButton {
      top: 60%;
  }

  .practiceButton {
      top: 75%;
  }
  .HangMan {
    height: 80%;
    transform: translate(-10%, 1%);
  }

  .hostButton {
      top: 40%;
      transform: translate(-27%, -600%);
      width: 60%;
      height: 10%;
  }

  .joinButton {
      top: 55%;
      transform: translate(-33%, -610%);
      width: 80%;
      height: 10%;
  }

  .practiceButton {
      top: 70%;
      transform: translate(-30%, -800%);
      width: 70%;
      height: 10%;
  }
  .hangman {
      top: 40%;
      transform: translate(-65%, -23.5%);
      width: 35%;
      height: 70%;
  }
  .hangmananyone{
      top: 40%;
      transform: translate(10%, -555%);
      width: 70%;
      height: 15%;
  }
}

@media (min-width: 601px) and (max-width: 1280px) {
  .hostButton {
      top: 45%;
  }

  .joinButton {
      top: 60%;
  }

  .practiceButton {
      top: 75%;
  }


}

.hangman-image {
  position: absolute;
}

.letters-container {
  display: flex;
  max-width: 400px;
  gap: 15px;
  flex-wrap: wrap;
  height: fit-content;
}

.selectable-letter-container {
  rotate: 45deg;
  display: flex;
  background-color: antiquewhite;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
  font-size: larger;
}

.head-image {
  left: 40px;
  top: 40px;
}

.rope-image {
  top: -230px;
  right: 80px;
  width: 150px;
}

.accessory-image {
  top: -80px;
  right: 22px
}

.chest-image {
  left: -5px;
  top: 90px;
}

.hair-image {
  top: -47px;
  right: 17px
}

.leftarm-image {
  right: 0px;
  top: 142px;
}

.rightarm-image {
  left: 10px;
  top: 140px;
}

.leftleg-image {
  right: 40px;
  top: 200px;
}

.rightleg-image {
  left: 60px;
  top: 200px;
}

.completed-word {
  display: flex;
  gap: 2px;
  font-size: 150%;
}
.hangman-image-container {
  display: flex;
  position: relative;
  width: 300px;
  height: 400px;
}

.timer {
  z-index: 10;
  position: relative;
  left: -100px;
}

@media (max-width: 600px) {
  .selectable-letter-container {
      font-size: 10px;
      position: relative;
      left: -100px;
  }

  .timer {
    position: relative;
  }
  .completed-word {
    display: flex;
    gap: 1px;
    font-size: 100%;
    position: relative;
    bottom: -80px;
  }
  .hangman-image-container {
    display: flex;
    position: relative;
    width: 300px;
    height: 300px;
    scale: 0.5;
    left: -40px;
  }
  

}