* {
  font-family: 'Press Start 2P', cursive;
}
:root {
  --letter-default-color: linear-gradient(to bottom right, #cd954c, #e1db8c );
}
body {
  display: block;
  margin: 0px;
}

.login-username,
.login-password {
  border-radius: 25px;
}

label {
  font-size: x-large;
}

input {
  border: 7.5px solid black;
  padding: 8px;
  border-radius: 25px;
}

button {
  background-color: transparent;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hostButton {
  position: relative;
  border: transparent;
  margin-bottom: 8%;
  width: var(--button-width);
  height: var(--button-height);
  top: 50%;
  left: 50%;
  transform: translate(-40%, -575%);
}

.joinButton {
  position: relative;
  border: transparent;
  width: 100%;
  height: var(--button-height);
  margin-bottom: 8%;
  top: 65%;
  left: 50%;
  transform: translate(-41%, -610%)
}

.practiceButton {
  position: relative;
  border: transparent;
  background-color: transparent;
  width: var(--button-width);
  height: var(--button-height);
  top: 80%;
  left: 50%;
  transform: translate(-40%, -530%);
}

.home-signinButton {
  position: relative;
  border: transparent;
  width: var(--button-width);
  height: var(--button-height);
  top: 40%;
  left: -50%;
  transform: translate(70%, -200%);
  margin-bottom: 10%;

}
.home-signupButton {
  position: relative;
  border: transparent;
  width: var(--button-width);
  height: var(--button-height);
  transform: translate(20%, -170%);
  
}
.signup-signupButton {
  position: relative;
  border: transparent;
  width: var(--button-width);
  height: var(--button-height);
  transform: translate(-10%, 75%);
}
.signup-username {
  position: relative;
  top: 13%;
  left: 40%;
  transform: translate(10%, -50%);
}
.signup-first-name {
  position: relative;
  top: 13%;
  left: 40%;
}
.signup-last-name {
  position: relative;
  top: 13%;
  left: 40%;
}
.signup-password {
  position: relative;
  top: 13%;
  left: 40%;
}

.login-username {
  position: relative;
  top: 12.5%;
  left: -70%;
  color: white;
}
.login-password {
  position: relative;
  top: 12.5%;
  left: -70%;
  color: white;
}
.login-button {
  position: relative;
  border: transparent;
  top: 15%;
}
.row {
  display: flex;
  justify-content: center;
}
.letter-button { 
  border: transparent;
  background-color: transparent;
}
.search {
  position: absolute;
  right: 25%;
  top: 20px;
}


.rope {
top: 50%;
left: 50%;
transform: translate(46%, -78%);
height: 68%;
}
/* .hangman-container {


.hangman-container {
  position: relative;
  top: 49%;
  left: var(--hangman-left);
  transform: translate(-250%, -49.5%) translate(300px, 100px);
  width: 16%;
  height: 74%;

} */
.HangMan {
  position: relative;
  height: 70%;
  transform: translate(-50%, 12%);
}
.home-HangMan {
  height: 70%;
  transform: translate(100%, 28.5%);
}
.gallows-gang {
  position: relative;
  left: 60%;
  top: 10%;
}
.welcome {
  position: relative;
  top: 10%;
  left: -10%;
}
.choose-avatar {
  position:relative;
  border: green;
  background-color: green;
  border-radius: 20px;
  top: -600%;
  left: -200%;
}
.hangman-image {
  position: absolute;
}
.hangman-button {
  position: relative;
  top: 70%;
  left: 0%;
}
.no-avatar {
  position: relative;
  top: 30%;
  left: -23.5%;
}
.letters-container {
  display: flex;
  max-width: 26.5%;
  gap: 15px;
  flex-wrap: wrap;
  height: fit-content;
}

.selectable-letter-container {
  rotate: 45deg;
  display: flex;
  background-color: var(--letter-default-color);
  border: 2px solid black;
  padding: 5px;
  cursor: pointer;
  font-size: x-large;
}
.lightgreen {
  background: lightgreen;
}

.red {
  background-color: red;
}

.head-image {
  width: 80%;
  height: 40%;
  left: 10%;
  top: 10%;
}



.accessory-image {
width: 110%;
height: 100%;
top: -25%;
left: -7%;

}

.chest-image {
  width: 70%;
  height: 40%;
  left: 13%;
  top: 29%;
}

.hair-image {
  width: 100%;
  height: 75%;
  top: -15%;
  left: -2%;

}

.leftarm-image {
  width: 32%;
  height: 22%;
  top: 38%;
  left: 56%;
}

.rightarm-image {
  width: 22%;
  height: 24.5%;
  top: 36%;
  left: 18%;
}

.leftleg-image {
  width: 30%;
  height: 20%;
  top: 55%;
  left: 44%;

}

.rightleg-image {
  width: 20%;
  height: 23%;
  top: 53%;
  left: 29%;

}

@media (max-width: 600px) {

  .hostButton {
      top: 40%;
      transform: translate(-27%, -600%);
      width: 60%;
      height: 10%;
  }

  .joinButton {
      top: 55%;
      transform: translate(-33%, -610%);
      width: 80%;
      height: 10%;
  }

  .practiceButton {
      top: 70%;
      transform: translate(-30%, -800%);
      width: 70%;
      height: 10%;
  }
  .hangman {
      top: 40%;
      transform: translate(-65%, -23.5%);
      width: 35%;
      height: 70%;
  }
  .hangmananyone{
      top: 40%;
      transform: translate(10%, -555%);
      width: 70%;
      height: 15%;
  }
}

@media (min-width: 601px) and (max-width: 1280px) {
  .hostButton {
      top: 45%;
  }

  .joinButton {
      top: 60%;
  }

  .practiceButton {
      top: 75%;
  }
  .HangMan {
    height: 80%;
    transform: translate(-10%, 1%);
  }

  .hostButton {
      top: 40%;
      transform: translate(-27%, -600%);
      width: 60%;
      height: 10%;
  }

  .joinButton {
      top: 55%;
      transform: translate(-33%, -610%);
      width: 80%;
      height: 10%;
  }

  .practiceButton {
      top: 70%;
      transform: translate(-30%, -800%);
      width: 70%;
      height: 10%;
  }
  .hangman {
      top: 40%;
      transform: translate(-65%, -23.5%);
      width: 35%;
      height: 70%;
  }
  .hangmananyone{
      top: 40%;
      transform: translate(10%, -555%);
      width: 70%;
      height: 15%;
  }
}

@media (min-width: 601px) and (max-width: 1280px) {
  .hostButton {
      top: 45%;
  }

  .joinButton {
      top: 60%;
  }

  .practiceButton {
      top: 75%;
  }


}