*{
font-family: 'Press Start 2P', cursive;
}
body {
    display: block;
    margin: 0px;
}
.login-username, .login-password {
border-radius: 25px;
}
label {
    font-size:x-large;
}
input {
    padding: 8px;
    border-radius: 25px;
}
button {
    background-color: transparent;
}
